@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeinleft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeindown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.movie_page {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #112240;
    animation: fadein 1s;
}

.movie_page h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #57dcc0;
    animation: fadein 1s;
}

.movie_page p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ccd6f6;
    animation: fadeinleft 1s;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.title {
    margin-top: 30px;
}

.image {
    width: 300px;
    height: 450px;
    margin-top: 10px;
    animation: fadein 3s ease;
}

.rating {
    margin-top: 10px;
    margin-left: 20px;
}

.year {
    margin-top: 10px;
    margin-left: 20px;
}

.desc {
    margin-top: 10px;
    margin-left: 20px;
}

.actors {
    margin-top: 10px;
    margin-left: 20px;
}

.directors {
    margin-top: 10px;
    margin-left: 20px;
}

.genres {
    margin-top: 10px;
    margin-left: 20px;
}
