.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #3e8e41;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: fixed;
    background-color: #fefefe;
    top: 200px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    height: 80%;
    max-height: 500px;
    overflow: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 15px 32px;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-right: 8px;
}

.searchbar {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 420px;
    height: 65px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 8px;
    align-self: center;
}

.itemcontainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.itemlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}
